
.spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

mat-sidenav {
  width: 250px;
}

/*.avatar-img{
  background-image: url('assets/avatar.png');
  background-size: cover;
}*/

.mat-sidenav-backdrop.mat-sidenav-shown{
    background-color: transparent !important;
}
